*{
    margin: 0;
    padding: 0;
}

body{
   
    font-family: 'Work Sans', sans-serif;}
    

    header{
        background: rgba(255, 144, 14, 0.1);
    }

/* nav styles */

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    padding-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}






/* -----------Brand styles */
.brand-section{
    margin-top: 116px;
    width: 100%;
}
.brand-decs{
    text-align: center;
   
}
.brand-title{
     font-weight: 700;
    font-size: 64px;
}
.brand-details{
    color: #727272;
      font-weight: 400;
      font-size: 16px;
      margin-top: 20px;
}
.btn-primary{
    background: #FF900E;
     border-radius: 8px;
     border: 0;
     padding: 10px 20px;
      color: #ffff;
      margin-top: 32px;
}
.brand-img img{
    width: 100%;
    height: auto;
    margin: 50px 50px;
  
    
}
/* _____--------feature styles-------------- */
.feature-container{
    display: flex;
    gap: 73px;
    justify-content: center;
    margin-top: 130px;
}


    .teams-img {
        width: 100%;
       
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
       

    }
    .teams-img img{
        max-width: 100%;
    }

   
    .feature-decs{
        width: 100%;
        text-align: center;
        margin-top: 250px;
        justify-content: flex-start;
    }
    .feature-title{
        font-weight: 700;
        font-size: 45px;

    }
    .special-color-1{
        font-weight: 500;
        font-size: 45px;
        color: #727272;
    }
    #special-color{
        color: #FF900E;
        font-weight: 700;
        font-size: 45px;
    }
    .feature-details{
        color: #727272;
        font-weight: 400;
        font-size: 16px;
    }
/* -----------------Feature styles---------- */
.feature-section{
    position: relative;
    display: flex;
    gap: 54px;

    margin: 130px 180px;
    
}
.decs-section{
    display: block;
}
.feature-title{
    font-weight: 700;
    font-size: 45px;
}
.feature-decs-1{
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin: 24px 0;
}
article{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 10px 10px 10px 5px grey;
    margin-top: 20px;
    padding: 30px 30px;
    text-align: center;
}
.decs-image{
    max-width: 100%;
    height: 500px;
    padding: 20px;
}
.btn-extra{
   
   bottom: 5px;
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 60px;
    border: 0;
    font-weight: 700;
    font-size: 40px;
    color: #ffff;
    top: 30px;
    margin-bottom: 50px;
    
}


.btn-text{
    font-weight: 500;
    font-size: 25px
}

/* -----------fact styles------------ */
.fact-container{
    margin-top: 50px;
}
.fact-section{
    display: flex;
    gap: 120px;
    margin-top: 150px;
    justify-content: center;
}
.fact-details{
    color: #727272;
       font-weight: 400;
  

}
.fact-decsription{
    margin-left: 50px;
}
#fact-div P{
    color: #727272;
    font-weight: 300;
    font-size: 15px;
}

#fact-div > div:hover{
    transform: scale(1.06);
    transition: transfrom 0.3s ease-in-out;
}
.fact-section>div{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 10px 20px;
 
}
/* --------sponsor styles-------- */
.sponsor-section{
    margin-top: 50px;
}
.sponsor-details{
    text-align: center;
    margin-bottom: 20px;
}
.sponsor-img{

    display: flex;
    gap: 130px;
    margin: 20px;
}
.sponsor-img img{
    max-width: 100%;
     filter: sepia(100%);
     -webkit-filter: sepia(100%);
    
}
.sponsor-img img:hover{
    filter: none;
    transform: scale(1.3);
    z-index:1 ;
}
/* ---------upcoming styles------------ */

.upcominng-project{
    font-weight: 700;
     font-size: 64px;
}
.project-section{
    margin: 30px 30px;
   
}
#project-decs{
    text-align: center;
    padding-bottom: 10px;
}
#project-decs p{
    color: #727272;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 0;
}
.project-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 5px;


}


/* --footer------------ */
footer{
      background: #FFF4E7;
     border-radius: 8px;
    margin-top: 130px;
    text-align: center;
     padding: 39px 300px;
     margin-left: 200px;
     margin-right: 200px;
}

.footer p{
    color: #424242;
       font-weight: 400;
       font-size: 20px;
        

}






/* ----------responsive styles */


@media only screen and (max-width: 576px) {
   

    nav{
        flex-direction: column;
    }
    nav h2{
        text-align: center;
    }
    nav ul li{
        display: block;
        text-align: center;
    }
    .brand-section{
        width: 80%;
    }
  .brand-title {
    font-size: 20px;
    font-weight: 300px;
  }
  .brand-img img{
    width: 400px;
    margin: 10px 0;
  }
  .feature-container{
    flex-direction: column;
  }
  .team-img{
    width: 80%;
  }

  
     
   }



  
 


     
   


    
}